html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
background-color: #333;
color: #fff;
border-radius: 8px;
padding: 0.4em 0.75em 0.3em;
text-decoration: none;
font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border-radius: 8px;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-subtle:hover {
background-color: #666;
}


.btn-ghost {
  color: #000;
  border-radius: 8px;
  border: 3px solid #000;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-ghost:hover {
background-color: #666;
border-color: #666;
color: #fff;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: 0.4em 0.75em 0.3em;
  font-size: 0.875rem;
  text-decoration: none;
}
