html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: 1.125rem;
  border: 3px solid #333;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
  border-color: #ccc;
}

.btn-ghost {
  color: #fff;
  border-color: #fff;
}

.btn-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border-color: #fff;
}

.btn-warning:hover {
  background-color: #933;
  border-color: #933;
}

.btn-small {
  border-color: #fff;
  font-size: .875rem;
}

.btn-small:hover {
  background-color: #000;
  border-color: #000;
}

.btn-subtle-small {
  background-color: #ccc;
  border-color: #ccc;
  font-size: .875rem;
}

.btn-subtle-small:hover {
  background-color: #666;
  border-color: #ccc;
}

.btn-ghost-small {
  color: #fff;
  border: 3px solid #000;
  border-color: #fff;
  font-size: .875rem;
}

.btn-ghost-small:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;

}

.btn-warning-small {
  background-color: #f33;
  color: #fff;
  border-color: #fff;
  font-size: .875rem;
}

.btn-warning-small:hover {
  background-color: #933;
  border-color: #933;
}

.btn-big {
  border-color: #fff;
  font-size: 1.5rem;
}

.btn-big:hover {
  background-color: #000;
  border-color: #000;
}

.btn-subtle-big {
  background-color: #ccc;
  border-color: #ccc;
  font-size: 1.5rem;
}

.btn-subtle-big:hover {
  background-color: #666;
  border-color: #ccc;
}

.btn-ghost-big {
  color: #fff;
  border: 3px solid #000;
  border-color: #fff;
  font-size: 1.5rem;
}

.btn-ghost-big:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warning-big {
  background-color: #f33;
  color: #fff;
  border-color: #fff;
  font-size: 1.5rem;
}

.btn-warning-big:hover {
  background-color: #933;
  border-color: #933;
}
